Package: meshchat-api
Version:
Depends: lua
Provides:
Source: $GITHUB_SERVER_URL/$GITHUB_REPOSITORY
Section: net
Priority: optional
Maintainer: Tim Wilkinson (KN6PLV) and Trevor Paskett (K7FPV)
Architecture: all
Description: P2P distributed chat for mesh networks
