Package: meshchat-api
Version: 2.9
Depends:
Provides:
Source: package/meshchat-api
Section: net
Priority: optional
Maintainer: Tim Wilkinson (KN6PLV) and Trevor Paskett (K7FPV)
Architecture: all
Description: P2P distributed chat for mesh networks
