Package: meshchat
Version:
Depends: curl lua
Provides:
Source: package/meshchat
Section: net
Priority: optional
Maintainer: Gerard Hickey <hickey@kinetic-compute.com>
Architecture: all
Description: P2P distributed chat for mesh networks
