name: Build MeshChat Packages
on: push

jobs:
  calculate-version:
    runs-on: ubuntu-latest
    outputs:
      build_version: ${{ steps.build-version-slug.outputs.build_version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: build-version-slug
        run: |
          date=$(date +%Y%m%d)
          branch="${GITHUB_REF_NAME}"
          commit=$(git rev-parse --short HEAD)
          version="${date}-${branch}-${commit}"

          echo "build_version=$version" >> $GITHUB_OUTPUT

  build-meshchat-openwrt-package:
    needs: calculate-version
    uses:
      ./.github/workflows/workflow-meshchat-openwrt-package.yaml
    with:
      build_version: ${{ needs.calculate-version.outputs.build_version }}
      build_dir: package/meshchat-ipkg

  build-meshchat-debian-package:
    needs: calculate-version
    uses:
      ./.github/workflows/workflow-meshchat-debian-package.yaml
    with:
      build_version: ${{ needs.calculate-version.outputs.build_version }}
      build_dir: package/meshchat-deb
